.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(var(--green-first)) 85%, rgba(var(--yellow-first)) 95%);
    position: relative;
    color: black;
    z-index:0;
}
.container footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 1rem;
    padding-right:0px;
    height: 15%;
    position: absolute;
    top: 85%;
    bottom: 0;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, transparent 1%, rgba(var(--yellow-first)) 55%);
    align-items: center;
    padding-top: 1rem;
}
.container footer h3 {
    font-weight: 400;
}
.container footer a {
    position: relative;
    transition: all 0.8s ease-in-out;
    pointer-events: all;
}
.logo {
    height: 70%;
    padding: 2rem 1rem;
    position: fixed;
    z-index: -1;
    width: 100%;
}
.imageContainer{
    position: relative;
    width: 100%;
    height: 100%;
}
.container footer a::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    right: 100%;
    bottom: 2px;
    background: rgba(var(--green-first));
    border-radius: 2px;
    z-index: -1;
    transition: 0.5s all;
    box-shadow: 0px 0px 5px 3px rgba(var(--green-first));
    opacity: 0;
}
.container footer a:hover::before {
    right: 15%;
    opacity: 1;
}
.container a {
    padding-right: 1rem;
    font-size: 1.4rem;
}
.container span {
    position: relative;
    font-size: 1.4rem;
}