.container {
    width: 100%;
    background:linear-gradient( 50%, rgba(var(--green-second), 1) 100%);
    background: rgba(var(--yellow-first), 1);
    position: absolute;
    padding: 1rem 10rem;
    font-size: 2rem;
    color: transparent;
    padding-bottom: 5rem;
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(var(--yellow-first), 0) 90%, rgba(var(--green-second), 1) 100%);
    z-index: 10;
}
.container p {
    position: sticky;
    top: 0;
    left: 0;
}