.container {
    width: 100%;
    position: sticky;
    padding: 10rem 10rem;
    font-size: 2rem;
    color: black;
    z-index: 0;
    padding-bottom: 2rem;
    top: 0 ;

}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(rgba(var(--yellow-first), 0) 0%, rgba(var(--yellow-first), 1) 20%);
    min-height: 100%;
    padding-bottom: 20rem;
}
.container p {
 position: relative;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10rem 1rem;
        text-align: center;
        font-size: 1.5rem;
        padding-bottom:0;
        top: -50rem;
    }
}
    
