.container {
    width: 100%;
    background:linear-gradient(rgba(var(--yellow-first), 1) 50%, rgba(var(--green-second), 1) 100%);
    position: relative;
    padding: 7rem 10rem;
    font-size: 2rem;
    color: black;
    position: sticky;
    top: 0;
}