.container {
    width: 100%;
    background:linear-gradient( 50%, rgba(var(--green-second), 1) 100%);
    background: rgba(var(--yellow-first), 1);
    position: sticky;
    top: 0;
    padding: 1rem 10rem;
    font-size: 2rem;
    color: black;
    position: sticky;
    padding-bottom: 5rem;
    padding-top: 5rem;
    z-index: 0;
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.container p {
    position: sticky;
    top: 0;
    left: 0;
}