
.container {
    width: 100%;
    background: linear-gradient(rgba(var(--yellow-first), 1) 0%,rgba(var(--green-second), 1) 20%);
    position: relative;
    font-size: 1rem;
    padding: 5rem 1rem;
    padding-top: 10rem;
    font-weight: 600;
    color: #808C82;
}
.textContainer {
    width: 100%;
}
.container ul {
    display: grid;
    padding-bottom: 1rem;
}
.container h6 {
    color: black;
    font-size: 1rem;
    font-weight: 600;
}
.title {
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
.title {
    padding-bottom: 2rem;
}
.cover {
    position: relative;
    width: 50%;
    height: 70px;
    display: grid;
    padding-left: 2rem;
    right: 1rem;
    top: 0;
    margin-left: auto;
    display: flex;
    align-items: flex-start;
}
.cover div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.grid {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 1rem;
    right: 1rem;
}